.blog-article {
  background-color: @badgerWhite;
  padding: 35px 25px 40px 25px;
}

.blog-article__details {
  vertical-align: bottom;
  margin-bottom: 10px;
}

.blog-article__author-name {
  color: @badgerRed;
  font-weight: bold;
  margin-right: 10px;
}

.blog-article__time {
  color: @badgerBlack;
  text-transform: lowercase;
}

.blog-article__title {
  color: @badgerBlack;
  margin-bottom: 30px;
}

.blog-article__main-image {
  width: 100%;
  margin-bottom: 20px;
  color: @badgerBlack;
}
