body {
  background-color: @badgerWhite;
}

main {
  background-color: @badgerWhite;
  max-width: 335px;
  margin: 0 auto 50px auto;
}

article {
  margin-bottom: 30px;
}

.blog-list {
  margin-top: 30px;
}

.excerpt-thumb img {
  max-width: 100%;
}

.entry-text {
  font-family: 'ProximaNova-Light', sans-serif;
}

.entry-content time {
  display: inline-block;
  color: @badgerBlack;
}

.blog-author-name {
  color: @badgerRed;
  text-decoration: underline;
  font-family: 'ProximaNova-Bold', sans-serif;
}

.entry-title {
  line-height: 1.8rem;
  margin: 15px 0 20px 0;
}

.entry-title a {
  font-size: 24px;
  color: @badgerBlack;
  text-decoration: none;
}

.entry-excerpt {
  font-weight: 300;
  color: @badgerBlack;
  font-size: 20px;
  line-height: 1.4em;
  margin-bottom: 20px;
}

.entry-excerpt a {
  color: @badgerRed;
  text-decoration: underline;
}

.load-more-wrapper {
  text-align: center;
}

.load-more {
  background-color: @badgerRed;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
