html {
  overflow-x: hidden;
}

body {
  background-color: @badgerWhite;
}

main {
  background-color: @badgerWhite;
  max-width: 335px;
  margin: 0 auto 50px auto;
  padding-top: 40px;
  width: 90%;
}

article {
  margin-bottom: 30px;
}

.blog-list {
  margin: 30px 0 70px 0;
}

.category-name {
  font-weight: bold;
  text-decoration: underline;
  text-transform: capitalize;
}

.excerpt-thumb img {
  max-width: 100%;
}

.entry-text {
  font-family: 'ProximaNova-Light', sans-serif;
}

.entry-content time {
  display: inline-block;
  color: @badgerBlack;
  margin-left: 5px;
}

.blog-author-name {
  color: @badgerRed;
  text-decoration: underline;
  font-family: 'ProximaNova-Bold', sans-serif;
}

.entry-title {
  line-height: 1.8rem;
  margin: 15px 0 20px 0;
}

.entry-title a {
  color: @badgerBlack;
  text-decoration: none;
}

.entry-title a:hover {
  .redUnderline();
}

.entry-excerpt {
  font-size: 20px;
  line-height: 1.4em;
  margin-bottom: 20px;
}

.entry-excerpt a {
  color: @badgerBlack;
  text-decoration: underline;
}

.pagination-buttons {
  text-align: center;
  height: 60px;
}

.load-more-wrapper {
  display: inline;

  &:first-child {
    margin-right: 10px;
  }

  &:last-child {
    margin-left: 10px;
  }
}

.load-more, .prev-page {
  padding: 15px 20px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}

.load-more {
  background-color: @badgerRed;
  color: white;
  border: 3px solid @badgerRed;
}


.prev-page {
  background-color: @badgerWhite;
  color: @badgerBlack;
  border: 3px solid @badgerBlack;
}

.medium-large-screen {
  display: none;
}

.filter-heading {
  margin-top: 30px;
}

.active-category {
  background-color: @badgerRed;
  color: @badgerWhite;
}

.non-active-category {
  background-color: @badgerWhite;
  color: @badgerRed;
}

.category-list {
  margin-bottom: 40px;
  display: none;

  li {
    display: inline-block;
    margin-right: 15px;
    line-height: 60px;

    a {
      text-transform: uppercase;
      padding: 12px 20px 10px;
      border: 2px solid @badgerRed;
      text-decoration: none;
      font-size: 12px;
      color: @badgerRed;

      &.all-items {
        .active-category();
      }
    }
  }
}

.category-list.badger-life li a.badger-life, .category-list.blog li a.blog, .category-list.leadership li a.leadership, .category-list.news li a.news, .category-list.process li a.process, .category-list.strategy li a.strategy, .category-list.technology li a.technology, .category-list.ux-amp-design li a.ux-design {
  .active-category();
}

.category-list.badger-life li a.all-items, .category-list.blog li a.all-items, .category-list.leadership li a.all-items, .category-list.news li a.all-items, .category-list.process li a.all-items, .category-list.strategy li a.all-items, .category-list.technology li a.all-items, .category-list.ux-amp-design li a.all-items {
  .non-active-category();
}

@media screen and (min-width: 750px) {
  .category-list {
    display: block;
  }

  .small-screen {
    display: none;
  }

  main {
    max-width: 690px;
  }

  article {
    width: 690px !important;
    padding-bottom: 20px;
    border-bottom: 1px solid @linesOnWhite;
  }

  .medium-large-screen {
    display: block;
  }

  .thumbnail-title-wrapper {
    float: right;
    margin-left: 20px;
  }

  .excerpt-thumb img {
    max-width: 335px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .entry-title {
    line-height: 2.6rem;
  }

  main {
    max-width: 1100px;
  }

  .blog-list {
    margin-top: 40px;
  }

  article {
    width: 1100px !important;
  }

  .excerpt-thumb img {
    max-width: 244px;
  }

  .entry-excerpt {
    max-width: 800px
  }
}
